.grid-container{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 60px 1fr 60px;
	min-height: 100vh;
	grid-row-gap: 2em;
}

nav{
	background-color: black;
}
.navbar-brand{
	margin-right: 0;
}

footer > p{
	margin: 0;
}

.bg-danger a, .bg-success a, .bg-primary a, .bg-secondary a{
	color: white;
}

/* -- cohort selectbox -- */
.cohort-select{
	background: none;
	color: rgba(255,255,255,.5);
	border: none;
}

.cohort-select:hover{
	text-decoration: underline;
	cursor: pointer;
}

.cohort-select > option{
	color: black;
}

/* -- dropdown in navbar -- */
.dropdown-menu-left{
	left: -100px;
}

.my-spacing{
	margin: 10px 0;
}

/* -- lesson.show history-link -- */
#history-title a span{
	transform: rotate(90deg);
	display: inline-block;
	transition: transform .2s ease, margin-left .2s ease;
	margin-left: 5px;
}

#history-title a.collapsed span{
	transform: rotate(0deg);
	margin-left: 0;
}

/* -- card-container -- */
.card-container{
	display: flex;
	flex-wrap: wrap;
}

a.link-card{
	border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 1em;
    color: black;
    text-decoration: none;
    margin: 0 1em 1em 1em;
    min-height: 92px;
}

.card-container a.link-card{
	min-width: 300px;
}

/* -- breadcrumbs -- */
.breadcrumbs-container{
	display: flex;
	align-items: center;
}

.my-breadcrumb {
    list-style: none;
    margin: 0;
    padding: 0;
}

.my-breadcrumb .breadcrumb-item:first-child::before{
	display: inline-block;
    padding-right: .5rem;
    padding-left: 1rem;
    color: #868e96;
    content: "/";
}

.my-breadcrumb a {
    color: inherit;
}