.grid-container, .term-container{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 60px 1fr 60px;
}

.grid-container{
	min-height: 100vh;
	grid-row-gap: 2em;
}

.term-container{
	grid-row-gap: 1em;
}

nav{
	background-color: black;
}
.navbar-brand{
	margin-right: 0;
}

footer > p{
	margin: 0;
}

.bg-danger a, .bg-success a, .bg-primary a, .bg-secondary a{
	color: white;
}

/* -- cohort selectbox -- */
.cohort-select{
	background: none;
	color: rgba(255,255,255,.5);
	border: none;
}

.cohort-select:hover{
	text-decoration: underline;
	cursor: pointer;
}

.cohort-select > option{
	color: black;
}

/* -- dropdown in navbar -- */
.dropdown-menu-left{
	left: -100px;
}

/* -- lesson.show -- */
/*.card .review-buttons{
	visibility: hidden;
}

.card:hover .review-buttons{
	visibility: visible;
}*/

.my-spacing{
	margin: 10px 0;
}

/* -- lesson.show history-link -- */
#history-title a span{
	transform: rotate(90deg);
	display: inline-block;
	transition: transform .2s ease, margin-left .2s ease;
	margin-left: 5px;
}

#history-title a.collapsed span{
	transform: rotate(0deg);
	margin-left: 0;
}
