.lesson-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em 2em;
}

.lesson-container h3, .review-buttons, .reviews{
	grid-column: 1;
}

.asset-buttons, .assets{
	grid-column: 2;
}

.asset-buttons{
	grid-row: 2;
}

.lesson-container small{
	font-style: italic;
}