.lesson-container small{
	font-style: italic;
}

.lesson-container > *{
	overflow: hidden;
	max-width: calc(100vw - 30px);
}

.revisions, .assets{
	margin: .5em 0;
}

.card-header+.list-group > .list-group-item {
    border-top: 0px;
}

.revisions .list-group-item{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.revision-link{
	white-space: nowrap;
	overflow: hidden;
	margin-bottom: 0px;
	margin-right: .5em;
}

.revision-link-after{
	position: relative;
}

.revision-link-after:before {
    content: "";
    position: absolute;
    left: -100%;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
}

@media screen and (min-width: 850px)
{
	.lesson-container{
		display: grid;
		grid-template-columns: 49% 49%;
		grid-gap: 1em 2%;
	}

	.lesson-container h3, .revision-buttons, .revisions{
		grid-column: 1;
	}

	.asset-buttons, .assets{
		grid-column: 2;
	}

	.asset-buttons{
		grid-row: 2;
	}

}

@media screen and (max-width: 650px)
{
	.btn-group .btn span{
		display: none;
	}
}