.navbar-brand{
	margin-right: 0;
}
nav{
	padding: .5rem 2rem !important;
}

.cohort-select{
	background: none;
	color: rgba(255,255,255,.5);
	border: none;
}

.cohort-select:hover{
	text-decoration: underline;
	cursor: pointer;
}

.cohort-select > option{
	color: black;
}

.main {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0rem;
  line-height: 1rem;
}

footer p:last-child{
	margin-bottom: .25rem;
}


.card-deck{
	margin-top: 1rem;
}

.card-deck .card{
	max-width: 25%;
}

.my-vertical-deck-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.my-deck-title{
	height: 60px;
	display: flex;
	justify-content: space-between;
}

.my-vertical-deck:hover .plus-icon{
	display: flex;
}

.plus-icon{
	display: none;
	align-items: center;
}

.my-vertical-deck{
	flex: 1;
	padding: 0 10px;
}
.my-vertical-deck:first-child{
	padding-left: 0;
	padding-right: 0;
}
.my-vertical-deck:last-child{
	padding-right: 0px;
}

.week-numbers{
	width: 70px;
	padding-top: 65px;
	flex: .2;
}

.week-numbers .card{
	border-color: white;
}

.my-vertical-deck .card{
	max-width: 100%;
	border-radius: 0;
	border-width: 2px;
	border-bottom-width: 0px;
}

.my-vertical-deck .card-body{
	padding: 10px 15px;
}

.my-vertical-deck .card-title{
	margin-bottom: 0 !important;
}

.card.duration-0, .card.duration-1{
	height: 60px;
}
.card.duration-2{
	height: 120px;
}
.card.duration-3{
	height: 180px;
}
.card.duration-4{
	height: 240px;
}
.card.duration-5{
	height: 300px;
}
.card.duration-6{
	height: 360px;
}
.card.duration-7{
	height: 420px;
}
.card.duration-8{
	height: 480px;
}

.navbar-text > .navbar-text{
	padding: 0px;
}

.btn.navbar-text:hover{
	color: #fff;
}

.my-spacing{
	margin: 10px 0;
}

.bg-danger a, .bg-success a, .bg-primary a, .bg-secondary a{
	color: white;
}

.bg-warning a{
	color: black;
}

label.btn{
	cursor: pointer;
}

#history-title a span{
	transform: rotate(90deg);
	display: inline-block;
	transition: transform .2s ease, margin-left .2s ease;
	margin-left: 5px;
}

#history-title a.collapsed span{
	transform: rotate(0deg);
	margin-left: 0;
}

.dropdown-menu-left{
	left: -100px;
}

.review-buttons {
	align-items: flex-start;
}