.bg-gradient{
	background: linear-gradient(141deg, rgba(134,142,150,1) 0%, rgba(134,142,150,1) 85%, rgba(40,167,69,1) 85%, rgba(40,167,69,1) 100%);
}

.term-grid{
	display: grid;
	/*
		this will make sure you see exactly the 8 weeks on screen
		the rows are:
			60px for lesson-type-titles
			8 times: 1 week = (100vh-navbar-titles-gap / 8)
	*/
	grid-template-columns: 60px; /* explicit for first column, rest is auto */
	grid-template-rows: 60px repeat(8, calc((100vh - 120px - 2em) / 8));
	grid-auto-flow: column;
	grid-column-gap: 10px;
	grid-auto-columns: 1fr; /* all auto-columns will be same width */
}

@media screen and ( max-height: 500px ){
	.term-grid{
		grid-template-rows: repeat(10, 60px) !important;
	}
}

.term-grid .week-number:first-of-type{
	grid-row-start: 2;
}

.term-grid .lesson-type-title{
	grid-row-start: 1;
	display: flex;
	justify-content: space-between;
}

.term-grid .week-number{
	display: flex;
	justify-content: center;
	align-items: center;
}

.lesson-type-title{
	position: relative;
}

.lesson-type-title:hover .icons{
	visibility: visible;
}

.lesson-type-title .icons{
	display: flex;
	visibility: hidden;
	align-items: flex-start;
	position: absolute;
	right: 0;
	background: white;
}

.card{
	max-width: 100%;
	border-radius: 0;
	border-width: 2px;
	border-bottom-width: 0px;
}
.card-body{
	padding: 10px;
	display: flex;
}
.card-title{
	margin-bottom: 0 !important;
	font-size: .9rem;
}

.term-grid .start-1{ grid-row-start: 2; }
.term-grid .start-2{ grid-row-start: 3; }
.term-grid .start-3{ grid-row-start: 4; }
.term-grid .start-4{ grid-row-start: 5; }
.term-grid .start-5{ grid-row-start: 6; }
.term-grid .start-6{ grid-row-start: 7; }
.term-grid .start-7{ grid-row-start: 8; }
.term-grid .start-8{ grid-row-start: 9; }
.term-grid .start-9{ grid-row-start: 10; }

.term-grid .duration-1{ grid-row-end: span 1; }
.term-grid .duration-2{ grid-row-end: span 2; }
.term-grid .duration-3{ grid-row-end: span 3; }
.term-grid .duration-4{ grid-row-end: span 4; }
.term-grid .duration-5{ grid-row-end: span 5; }
.term-grid .duration-6{ grid-row-end: span 6; }
.term-grid .duration-7{ grid-row-end: span 7; }
.term-grid .duration-8{ grid-row-end: span 8; }
.term-grid .duration-9{ grid-row-end: span 9; }